language: c
sudo: required
install: wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-opam.sh
script: bash -ex .travis-opam.sh
env:
  global:
  - PINS="github.dev:--dev github-unix.dev:--dev  github-hooks.dev:. github-hooks-unix.dev:."
  matrix:
  - OCAML_VERSION=4.05 PACKAGE=github-hooks-unix
  - OCAML_VERSION=4.06 PACKAGE=github-hooks-unix
  - OCAML_VERSION=4.07 PACKAGE=github-hooks-unix
os:
  - linux
  - osx
